.logo {
  color: #1e90ff;
  font-size: 18px;
  height: 32px;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}
.header-left {
  float: left;
  margin-left: 26px;
}
.header-right {
  float: right;
  margin-right: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center
}
.header-right .header-avatar {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  overflow: hidden;
}
.header-nickname {
  margin-right: .8rem;
  color: #1e90ff;
  font-size: 1rem;
}
