body {
  background-color: #f0f0f0;
  background-image: url('https://pic3.zhimg.com/80/v2-1bda1fa722e5e510bc2c8dfb1793d8a2_720w.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.login-div{
  margin: 150px auto;
  width: 400px;
  /* opacity:0.8; */
}
